body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
a._idGenColorInherit {
	color:inherit;
}
div.Einfacher-Textrahmen {
	border-style:solid;
}
div.abildungsverzeichnis {
	border-style:solid;
}
div.abstract-original {
	border-style:solid;
}
div.abstract-translation {
	border-style:solid;
}
div.article-meta {
	border-style:solid;
}
div.authors {
	border-style:solid;
}
div.body {
	border-style:solid;
}
div.content-picture {
	border-style:solid;
}
div.journal-meta {
	border-style:solid;
}
div.picture {
	border-style:solid;
	background-color:#ffffff;
}
div.references {
	border-style:solid;
}
div.title {
	border-style:solid;
}
p.abbildungsverz {
	color:#635f57;
	font-family:"Noto Sans Light", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.505;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.abbildungsverz-h {
	color:#000000;
	font-family:"Noto Sans Med", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1.505;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:1;
}
p.abstract-author {
	color:#635f57;
	font-family:"Noto Sans Light", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.505;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.abstract-keywords {
	color:#635f57;
	font-family:"Noto Sans Light", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.505;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.abstract-keywords-h {
	color:#000000;
	font-family:"Noto Sans Med", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1.505;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:1;
}
p.abstract-original-h-de {
	color:#000000;
	font-family:"Noto Sans Med", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1.505;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:1;
}
p.abstract-subtitle {
	color:#e2510d;
	font-family:"Noto Sans Light", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.505;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.abstract-text {
	color:#635f57;
	font-family:"Noto Sans Light", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.505;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.abstract-title {
	color:#e2510d;
	font-family:"Noto Sans Med", sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1.4;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.abstract-translation-h-en {
	color:#000000;
	font-family:"Noto Sans Med", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1.505;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:1;
}
p.article-meta {
	color:#000000;
	font-family:"Noto Sans Light", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.505;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.author {
	color:#635f57;
	font-family:"Noto Sans Light", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.505;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.authors-start {
	color:#918a82;
	font-family:"Noto Sans", sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.6;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.authors-h {
	color:#000000;
	font-family:"Noto Sans Med", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1.505;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:1;
}
p.bildunterschrift {
	color:#000000;
	font-family:"Noto Sans Light", sans-serif;
	font-size:7px;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.411;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.body-h1 {
	color:#e2510d;
	font-family:"Noto Sans", sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.286;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.body-text {
	color:#000000;
	font-family:"Noto Serif Light", serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.505;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.co-authers-group {
	color:#635f57;
	font-family:"Noto Sans Light", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.489;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.footnote {
	color:#000000;
	font-family:"Noto Serif ExtLt", serif;
	font-size:7px;
	font-style:normal;
	font-variant:normal;
	font-weight:200;
	line-height:1.429;
	margin-bottom:0;
	margin-left:17px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-17px;
	text-transform:none;
	widows:1;
}
p.journal-meta {
	color:#000000;
	font-family:"Noto Sans Light", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.505;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.journal-title {
	color:#000000;
	font-family:"Noto Sans Light", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.505;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.references {
	color:#000000;
	font-family:"Noto Serif Light", serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.386;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.subtitle {
	color:#e2510d;
	font-family:"Noto Sans Light", sans-serif;
	font-size:18px;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.444;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.title-de {
	color:#e2510d;
	font-family:"Noto Sans Light", sans-serif;
	font-size:30px;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.267;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
span.article-title {
	font-family:"Noto Sans", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.body-hyperlink-extrafeatures {
	color:#000000;
	font-family:"Noto Serif Light", serif;
	font-style:normal;
	font-weight:300;
}
span.body-italic {
	font-style:italic;
	font-weight:normal;
}
span.body-medium {
	font-style:normal;
	font-weight:normal;
}
span.bu-nummer {
	color:#000000;
	font-family:"Noto Sans Light", sans-serif;
	font-size:7px;
	font-style:normal;
	font-weight:300;
}
span.bu-text {
	color:#000000;
	font-family:"Noto Sans Light", sans-serif;
	font-size:7px;
	font-style:normal;
	font-weight:300;
}
span.citation-guideline {
	font-family:"Noto Sans", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.copyright-holder-print {
	font-family:"Noto Sans Light", sans-serif;
	font-style:normal;
	font-weight:300;
}
span.copyright-print {
	font-family:"Noto Sans Light", sans-serif;
	font-style:normal;
	font-weight:300;
}
span.copyright-statement-online {
	font-family:"Noto Sans Light", sans-serif;
	font-style:normal;
	font-weight:300;
}
span.copyright-statement-print {
	font-family:"Noto Sans Light", sans-serif;
	font-style:normal;
	font-weight:300;
}
span.footnotes-italic {
	font-style:italic;
	font-weight:normal;
}
span.issue-bibliography-link {
	font-family:"Noto Sans Light", sans-serif;
	font-style:normal;
	font-weight:300;
}
span.issue-number {
	font-family:"Noto Sans", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.issue-summery {
	font-family:"Noto Sans Light", sans-serif;
	font-style:normal;
	font-weight:300;
}
span.katalog-nummer {
	color:#e2510d;
	font-family:"Noto Sans Med", sans-serif;
	font-style:normal;
	font-weight:500;
}
span.license-online {
	font-family:"Noto Sans Light", sans-serif;
	font-style:normal;
	font-weight:300;
}
span.license-print {
	font-family:"Noto Sans Light", sans-serif;
	font-style:normal;
	font-weight:300;
}
span.online-doi {
	font-family:"Noto Sans Light", sans-serif;
	font-style:normal;
	font-weight:300;
}
span.online-issn {
	font-family:"Noto Sans Light", sans-serif;
	font-style:normal;
	font-weight:300;
}
span.online-url {
	font-family:"Noto Sans Light", sans-serif;
	font-style:normal;
	font-weight:300;
}
span.online-urn {
	font-family:"Noto Sans Light", sans-serif;
	font-style:normal;
	font-weight:300;
}
span.print-isbn {
	font-family:"Noto Sans Light", sans-serif;
	font-style:normal;
	font-weight:300;
}
span.print-issn {
	font-family:"Noto Sans Light", sans-serif;
	font-style:normal;
	font-weight:300;
}
span.publishing-day {
	font-family:"Noto Sans Light", sans-serif;
	font-style:normal;
	font-weight:300;
}
span.publishing-month {
	font-family:"Noto Sans Light", sans-serif;
	font-style:normal;
	font-weight:300;
}
span.publishing-year {
	font-family:"Noto Sans Light", sans-serif;
	font-style:normal;
	font-weight:300;
}
span.references-hyperlink {
	color:#000000;
	text-decoration:none;
}
span.references-label {
	font-family:"Noto Serif SemBd", serif;
	font-style:normal;
	font-weight:600;
}
span.text-absatzzahlen {
	color:#b4afa7;
	font-family:"Noto Sans Light", sans-serif;
	font-size:8px;
	font-style:normal;
	font-weight:300;
}
span.text-fussnote {
	color:#000000;
	font-family:"Noto Serif", serif;
	font-size:9px;
	font-style:normal;
	font-weight:normal;
	vertical-align:super;
}
span._idGenCharOverride-1 {
	font-size:5px;
}
#_idContainer000 {
	display:inline-block;
	height:228px;
	overflow:hidden;
	width:595px;
}
#_idContainer004 {
	-ms-transform:translate(0.398px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.398px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:410.08px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.398px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.398px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:495.66px;
	z-index:1;
}
#_idContainer005 {
	-ms-transform:translate(0.000px,438.425px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,438.425px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:87.87px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,438.425px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,438.425px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:114.45px;
	z-index:0;
}
#_idContainer006 {
	display:inline-block;
	height:526px;
	position:relative;
	width:496px;
}
#_idContainer007 {
	-ms-transform:translate(42.519px,717.165px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(42.519px,717.165px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:42.52px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(42.519px,717.165px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(42.519px,717.165px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:194.88px;
	z-index:1;
}
#_idContainer008 {
	-ms-transform:translate(0.000px,715.748px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,715.748px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:515.91px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,715.748px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,715.748px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:715.75px;
	z-index:0;
}
#_idContainer009 {
	display:inline-block;
	height:760px;
	position:relative;
	width:516px;
}
#_idContainer010 {
	-ms-transform:translate(162.401px,235.952px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(162.401px,235.952px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:54.47px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(162.401px,235.952px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(162.401px,235.952px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:114.45px;
	z-index:1;
}
#_idContainer011 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:179.29px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:277.09px;
	z-index:0;
}
#_idContainer012 {
	display:inline-block;
	height:290px;
	position:relative;
	width:277px;
}
#_idContainer013 {
	-ms-transform:translate(60.944px,749.315px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(60.944px,749.315px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:27.77px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(60.944px,749.315px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(60.944px,749.315px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:159.45px;
	z-index:1;
}
#_idContainer014 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:744.69px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:538.77px;
	z-index:0;
}
#_idContainer015 {
	display:inline-block;
	height:777px;
	position:relative;
	width:539px;
}
#_idContainer016 {
	-ms-transform:translate(125.433px,516.594px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(125.433px,516.594px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:92.83px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(125.433px,516.594px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(125.433px,516.594px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:103.46px;
	z-index:1;
}
#_idContainer017 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:503.16px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:241.65px;
	z-index:0;
}
#_idContainer018 {
	display:inline-block;
	height:609px;
	position:relative;
	width:242px;
}
#_idContainer019 {
	-ms-transform:translate(0.710px,421.728px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.710px,421.728px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:57.74px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.710px,421.728px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.710px,421.728px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:114.45px;
	z-index:1;
}
#_idContainer020 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:360.60px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:249.64px;
	z-index:0;
}
#_idContainer021 {
	display:inline-block;
	height:479px;
	position:relative;
	width:250px;
}
#_idContainer022 {
	-ms-transform:translate(0.000px,479.791px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,479.791px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:79.90px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,479.791px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,479.791px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:107.72px;
	z-index:1;
}
#_idContainer023 {
	-ms-transform:translate(262.063px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(262.063px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:360.50px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(262.063px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(262.063px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:183.39px;
	z-index:0;
}
#_idContainer024 {
	display:inline-block;
	height:560px;
	position:relative;
	width:445px;
}
#_idContainer025 {
	-ms-transform:translate(0.000px,153.291px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,153.291px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:67.87px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,153.291px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,153.291px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:110.55px;
	z-index:1;
}
#_idContainer026 {
	-ms-transform:translate(127.204px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(127.204px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:270.36px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(127.204px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(127.204px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:176.28px;
	z-index:0;
}
#_idContainer027 {
	display:inline-block;
	height:270px;
	position:relative;
	width:303px;
}
#_idContainer028 {
	-ms-transform:translate(0.000px,220.934px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,220.934px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:81.65px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,220.934px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,220.934px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:114.45px;
	z-index:1;
}
#_idContainer029 {
	-ms-transform:translate(318.011px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(318.011px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:258.72px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(318.011px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(318.011px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:177.72px;
	z-index:0;
}
#_idContainer030 {
	display:inline-block;
	height:303px;
	position:relative;
	width:496px;
}
#_idContainer031 {
	-ms-transform:translate(384.896px,283.809px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(384.896px,283.809px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:64.44px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(384.896px,283.809px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(384.896px,283.809px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:111.26px;
	z-index:1;
}
#_idContainer032 {
	-ms-transform:translate(0.000px,7.766px) rotate(357.500deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,7.766px) rotate(357.500deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:154.38px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,7.766px) rotate(357.500deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,7.766px) rotate(357.500deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:178.05px;
	z-index:0;
}
#_idContainer033 {
	display:inline-block;
	height:348px;
	position:relative;
	width:496px;
}
#_idContainer034 {
	-ms-transform:translate(177.519px,396.802px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(177.519px,396.802px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:57.74px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(177.519px,396.802px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(177.519px,396.802px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:114.45px;
	z-index:1;
}
#_idContainer035 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:264.96px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:147.96px;
	z-index:0;
}
#_idContainer036 {
	display:inline-block;
	height:455px;
	position:relative;
	width:292px;
}
#_idContainer037 {
	-ms-transform:translate(0.000px,449.464px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,449.464px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:57.74px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,449.464px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,449.464px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:106.51px;
	z-index:1;
}
#_idContainer038 {
	-ms-transform:translate(0.088px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.088px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:254.88px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.088px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.088px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:114.36px;
	z-index:0;
}
#_idContainer039 {
	display:inline-block;
	height:507px;
	position:relative;
	width:114px;
}
#_idContainer040 {
	-ms-transform:translate(0.000px,417.874px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,417.874px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:57.74px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,417.874px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,417.874px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:114.45px;
	z-index:1;
}
#_idContainer041 {
	-ms-transform:translate(0.685px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.685px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:378.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.685px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.685px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:113.76px;
	z-index:0;
}
#_idContainer042 {
	display:inline-block;
	height:476px;
	position:relative;
	width:114px;
}
#_idContainer043 {
	-ms-transform:translate(190.172px,363.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(190.172px,363.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:65.43px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(190.172px,363.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(190.172px,363.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:114.45px;
	z-index:1;
}
#_idContainer044 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:331.06px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:150.37px;
	z-index:0;
}
#_idContainer045 {
	display:inline-block;
	height:429px;
	position:relative;
	width:305px;
}
#_idContainer046 {
	-ms-transform:translate(29.471px,436.734px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(29.471px,436.734px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:45.13px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(29.471px,436.734px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(29.471px,436.734px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:114.45px;
	z-index:1;
}
#_idContainer047 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:330.55px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:151.57px;
	z-index:0;
}
#_idContainer048 {
	display:inline-block;
	height:482px;
	position:relative;
	width:152px;
}
#_idContainer049 {
	-ms-transform:translate(0.000px,454.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,454.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:57.74px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,454.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,454.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:114.45px;
	z-index:1;
}
#_idContainer050 {
	-ms-transform:translate(119.409px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(119.409px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:423.93px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(119.409px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(119.409px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:178.05px;
	z-index:0;
}
#_idContainer051 {
	display:inline-block;
	height:513px;
	position:relative;
	width:297px;
}
#_idContainer052 {
	-ms-transform:translate(0.000px,514.047px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,514.047px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:87.95px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,514.047px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,514.047px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:104.88px;
	z-index:1;
}
#_idContainer053 {
	-ms-transform:translate(320.137px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(320.137px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:426.48px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(320.137px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(320.137px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:178.05px;
	z-index:0;
}
#_idContainer054 {
	display:inline-block;
	height:602px;
	position:relative;
	width:498px;
}
#_idContainer055 {
	-ms-transform:translate(144.921px,270.708px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(144.921px,270.708px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:65.29px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(144.921px,270.708px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(144.921px,270.708px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:114.45px;
	z-index:1;
}
#_idContainer056 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:218.27px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:236.91px;
	z-index:0;
}
#_idContainer057 {
	display:inline-block;
	height:336px;
	position:relative;
	width:259px;
}
#_idContainer058 {
	-ms-transform:translate(5.102px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(5.102px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:51.87px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(5.102px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(5.102px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:114.45px;
	z-index:1;
}
#_idContainer059 {
	-ms-transform:translate(0.000px,176.598px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,176.598px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:229.23px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,176.598px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,176.598px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:149.35px;
	z-index:0;
}
#_idContainer060 {
	display:inline-block;
	height:406px;
	position:relative;
	width:149px;
}
#_idContainer061 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:38.27px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:114.45px;
	z-index:1;
}
#_idContainer062 {
	-ms-transform:translate(150.236px,103.763px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(150.236px,103.763px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:358.22px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(150.236px,103.763px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(150.236px,103.763px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:177.17px;
	z-index:0;
}
#_idContainer063 {
	display:inline-block;
	height:462px;
	position:relative;
	width:327px;
}
#_idContainer064 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:57.74px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:110.55px;
	z-index:1;
}
#_idContainer065 {
	-ms-transform:translate(326.692px,84.086px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(326.692px,84.086px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:270.49px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(326.692px,84.086px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(326.692px,84.086px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:176.46px;
	z-index:0;
}
#_idContainer066 {
	display:inline-block;
	height:355px;
	position:relative;
	width:503px;
}
#_idContainer067 {
	-ms-transform:translate(0.000px,378.425px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,378.425px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:39.69px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,378.425px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,378.425px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:109.13px;
	z-index:1;
}
#_idContainer068 {
	-ms-transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:324.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:218.27px;
	z-index:0;
}
#_idContainer069 {
	display:inline-block;
	height:418px;
	position:relative;
	width:218px;
}
#_idContainer070 {
	-ms-transform:translate(0.000px,417.874px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,417.874px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:70.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,417.874px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,417.874px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:114.45px;
	z-index:1;
}
#_idContainer071 {
	-ms-transform:translate(269.291px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(269.291px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:315.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(269.291px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(269.291px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:233.15px;
	z-index:0;
}
#_idContainer072 {
	display:inline-block;
	height:488px;
	position:relative;
	width:502px;
}
#_idContainer073 {
	-ms-transform:translate(0.000px,544.960px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,544.960px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:37.37px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,544.960px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,544.960px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:158.78px;
	z-index:1;
}
#_idContainer074 {
	-ms-transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:512.33px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:178.42px;
	z-index:0;
}
#_idContainer075 {
	display:inline-block;
	height:582px;
	position:relative;
	width:178px;
}
#_idContainer076 {
	-ms-transform:translate(318.011px,169.433px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(318.011px,169.433px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:37.37px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(318.011px,169.433px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(318.011px,169.433px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:140.63px;
	z-index:1;
}
#_idContainer077 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:208.91px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:305.26px;
	z-index:0;
}
#_idContainer078 {
	display:inline-block;
	height:209px;
	position:relative;
	width:459px;
}
#_idContainer079 {
	-ms-transform:translate(0.000px,350.755px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,350.755px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:60.27px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,350.755px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,350.755px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:108.28px;
	z-index:1;
}
#_idContainer080 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:283.92px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:109.32px;
	z-index:0;
}
#_idContainer081 {
	display:inline-block;
	height:411px;
	position:relative;
	width:109px;
}
#_idContainer082 {
	-ms-transform:translate(0.000px,422.016px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,422.016px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:66.96px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,422.016px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,422.016px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:114.45px;
	z-index:1;
}
#_idContainer083 {
	-ms-transform:translate(188.681px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(188.681px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:319.56px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(188.681px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(188.681px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:310.92px;
	z-index:0;
}
#_idContainer084 {
	display:inline-block;
	height:489px;
	position:relative;
	width:500px;
}
#_idContainer085 {
	-ms-transform:translate(0.000px,416.456px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,416.456px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:112.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,416.456px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,416.456px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:114.45px;
	z-index:1;
}
#_idContainer086 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:332.46px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:178.05px;
	z-index:0;
}
#_idContainer087 {
	display:inline-block;
	height:528px;
	position:relative;
	width:178px;
}
img._idGenObjectAttribute-1 {
	-ms-transform:translate(0.000%,0.000%) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000%,0.000%) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:100.00%;
	min-width:100%;
	transform:translate(0.000%,0.000%) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000%,0.000%) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
hr.HorizontalRule-1 {
	border-bottom:none;
	border-left:none;
	border-right:none;
	border-top:solid #000000 1px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
