body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
a._idGenColorInherit {
	color:inherit;
}
div.Einfacher-Textrahmen {
	border-style:solid;
}
div.abildungsverzeichnis {
	border-style:solid;
}
div.abstract-original {
	border-style:solid;
}
div.abstract-translation {
	border-style:solid;
}
div.article-meta {
	border-style:solid;
}
div.authors {
	border-style:solid;
}
div.body {
	border-style:solid;
}
div.content-picture {
	border-style:solid;
}
div.journal-meta {
	border-style:solid;
}
div.picture {
	border-style:solid;
	background-color:#ffffff;
}
div.references {
	border-style:solid;
}
div.title {
	border-style:solid;
}
p.abbildungsverz {
	color:#736e67;
	font-family:"Noto Sans Light", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.505;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.abbildungsverz-h {
	color:#000000;
	font-family:"Noto Sans Med", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1.505;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:1;
}
p.abstract-author {
	color:#736e67;
	font-family:"Noto Sans Light", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.505;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.abstract-keywords {
	color:#736e67;
	font-family:"Noto Sans Light", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.505;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.abstract-keywords-h {
	color:#000000;
	font-family:"Noto Sans Med", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1.505;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:1;
}
p.abstract-original-h-it {
	color:#000000;
	font-family:"Noto Sans Med", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1.505;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:1;
}
p.abstract-text {
	color:#736e67;
	font-family:"Noto Sans Light", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.505;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.abstract-title {
	color:#e2510d;
	font-family:"Noto Sans Med", sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1.4;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.abstract-translation-h-english {
	color:#000000;
	font-family:"Noto Sans Med", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1.505;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:1;
}
p.article-meta {
	color:#000000;
	font-family:"Noto Sans Light", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.505;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.author {
	color:#736e67;
	font-family:"Noto Sans Light", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.505;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.authors-start {
	color:#918a82;
	font-family:"Noto Sans", sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.6;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.authors-h {
	color:#000000;
	font-family:"Noto Sans Med", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1.505;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:1;
}
p.bildunterschrift {
	color:#000000;
	font-family:"Noto Sans Light", sans-serif;
	font-size:7px;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.411;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.body-h1 {
	color:#e2510d;
	font-family:"Noto Sans", sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.286;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.body-h2 {
	color:#e2510d;
	font-family:"Noto Sans", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.273;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.body-text {
	color:#000000;
	font-family:"Noto Serif Light", serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.505;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.footnote {
	color:#000000;
	font-family:"Noto Serif ExtLt", serif;
	font-size:7px;
	font-style:normal;
	font-variant:normal;
	font-weight:200;
	line-height:1.429;
	margin-bottom:0;
	margin-left:17px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-17px;
	text-transform:none;
	widows:1;
}
p.journal-meta {
	color:#000000;
	font-family:"Noto Sans Light", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.505;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.journal-title {
	color:#000000;
	font-family:"Noto Sans Light", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.505;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.references {
	color:#000000;
	font-family:"Noto Serif Light", serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.386;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.title-de {
	color:#e2510d;
	font-family:"Noto Sans Light", sans-serif;
	font-size:30px;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.267;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.title-it {
	color:#e2510d;
	font-family:"Noto Sans Light", sans-serif;
	font-size:30px;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.267;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
span.article-title {
	font-family:"Noto Sans", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.body-hyperlink-extrafeatures {
	color:#000000;
	font-family:"Noto Serif Light", serif;
	font-style:normal;
	font-weight:300;
}
span.body-italic {
	font-style:italic;
	font-weight:normal;
}
span.body-medium {
	font-style:normal;
	font-weight:normal;
}
span.bu-nummer {
	color:#000000;
	font-family:"Noto Sans Light", sans-serif;
	font-size:7px;
	font-style:normal;
	font-weight:300;
}
span.bu-text {
	color:#000000;
	font-family:"Noto Sans Light", sans-serif;
	font-size:7px;
	font-style:normal;
	font-weight:300;
}
span.citation-guideline {
	font-family:"Noto Sans", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.copyright-holder-print {
	font-family:"Noto Sans Light", sans-serif;
	font-style:normal;
	font-weight:300;
}
span.copyright-print {
	font-family:"Noto Sans Light", sans-serif;
	font-style:normal;
	font-weight:300;
}
span.copyright-statement-online {
	font-family:"Noto Sans Light", sans-serif;
	font-style:normal;
	font-weight:300;
}
span.copyright-statement-print {
	font-family:"Noto Sans Light", sans-serif;
	font-style:normal;
	font-weight:300;
}
span.footnotes-italic {
	font-family:"Noto Serif ExtLt", serif;
	font-style:italic;
	font-weight:200;
}
span.issue-bibliography-link {
	font-family:"Noto Sans Light", sans-serif;
	font-style:normal;
	font-weight:300;
}
span.issue-number {
	font-family:"Noto Sans", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.issue-summery {
	font-family:"Noto Sans Light", sans-serif;
	font-style:normal;
	font-weight:300;
}
span.license-online {
	font-family:"Noto Sans Light", sans-serif;
	font-style:normal;
	font-weight:300;
}
span.license-print {
	font-family:"Noto Sans Light", sans-serif;
	font-style:normal;
	font-weight:300;
}
span.online-doi {
	font-family:"Noto Sans Light", sans-serif;
	font-style:normal;
	font-weight:300;
}
span.online-issn {
	font-family:"Noto Sans Light", sans-serif;
	font-style:normal;
	font-weight:300;
}
span.online-url {
	font-family:"Noto Sans Light", sans-serif;
	font-style:normal;
	font-weight:300;
}
span.online-urn {
	font-family:"Noto Sans Light", sans-serif;
	font-style:normal;
	font-weight:300;
}
span.print-isbn {
	font-family:"Noto Sans Light", sans-serif;
	font-style:normal;
	font-weight:300;
}
span.print-issn {
	font-family:"Noto Sans Light", sans-serif;
	font-style:normal;
	font-weight:300;
}
span.publishing-day {
	font-family:"Noto Sans Light", sans-serif;
	font-style:normal;
	font-weight:300;
}
span.publishing-month {
	font-family:"Noto Sans Light", sans-serif;
	font-style:normal;
	font-weight:300;
}
span.publishing-year {
	font-family:"Noto Sans Light", sans-serif;
	font-style:normal;
	font-weight:300;
}
span.references-hyperlink {
	color:#000000;
	text-decoration:none;
}
span.references-label {
	font-family:"Noto Serif SemBd", serif;
	font-style:normal;
	font-weight:600;
}
span.text-absatzzahlen {
	color:#b4afa7;
	font-family:"Noto Sans Light", sans-serif;
	font-size:8px;
	font-style:normal;
	font-weight:300;
}
span.text-fussnote {
	color:#000000;
	font-family:"Noto Serif", serif;
	font-size:9px;
	font-style:normal;
	font-weight:normal;
	vertical-align:super;
}
span._idGenCharOverride-1 {
	font-size:5px;
}
#_idContainer000 {
	display:inline-block;
	height:228px;
	overflow:hidden;
	width:595px;
}
#_idContainer004 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:350.21px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:369.58px;
	z-index:1;
}
#_idContainer005 {
	-ms-transform:translate(255.130px,396.155px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(255.130px,396.155px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:44.65px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(255.130px,396.155px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(255.130px,396.155px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:109.52px;
	z-index:0;
}
#_idContainer006 {
	display:inline-block;
	height:441px;
	position:relative;
	width:370px;
}
#_idContainer007 {
	-ms-transform:translate(0.000px,570.236px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,570.236px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:68.69px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,570.236px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,570.236px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:93.54px;
	z-index:1;
}
#_idContainer008 {
	-ms-transform:translate(122.244px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(122.244px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:561.73px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(122.244px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(122.244px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:385.16px;
	z-index:0;
}
#_idContainer009 {
	display:inline-block;
	height:639px;
	position:relative;
	width:507px;
}
#_idContainer010 {
	-ms-transform:translate(127.204px,321.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(127.204px,321.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:77.01px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(127.204px,321.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(127.204px,321.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:109.52px;
	z-index:1;
}
#_idContainer011 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:280.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:241.65px;
	z-index:0;
}
#_idContainer012 {
	display:inline-block;
	height:399px;
	position:relative;
	width:242px;
}
#_idContainer013 {
	-ms-transform:translate(186.023px,349.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(186.023px,349.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:47.90px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(186.023px,349.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(186.023px,349.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:114.45px;
	z-index:1;
}
#_idContainer014 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:322.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:300.47px;
	z-index:0;
}
#_idContainer015 {
	display:inline-block;
	height:398px;
	position:relative;
	width:300px;
}
#_idContainer016 {
	-ms-transform:translate(0.000px,354.330px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,354.330px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:44.65px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,354.330px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,354.330px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:93.54px;
	z-index:1;
}
#_idContainer017 {
	-ms-transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:285.76px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:497.54px;
	z-index:0;
}
#_idContainer018 {
	display:inline-block;
	height:399px;
	position:relative;
	width:498px;
}
#_idContainer019 {
	-ms-transform:translate(334.488px,513.889px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(334.488px,513.889px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:43.19px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(334.488px,513.889px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(334.488px,513.889px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:125.79px;
	z-index:1;
}
#_idContainer020 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:484.72px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:334.49px;
	z-index:0;
}
#_idContainer021 {
	display:inline-block;
	height:557px;
	position:relative;
	width:460px;
}
#_idContainer022 {
	-ms-transform:translate(0.000px,207.354px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,207.354px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:44.65px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,207.354px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,207.354px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:109.52px;
	z-index:1;
}
#_idContainer023 {
	-ms-transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:170.62px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:241.65px;
	z-index:0;
}
#_idContainer024 {
	display:inline-block;
	height:252px;
	position:relative;
	width:242px;
}
#_idContainer025 {
	-ms-transform:translate(0.000px,70.196px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,70.196px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:48.91px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,70.196px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,70.196px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:95.81px;
	z-index:1;
}
#_idContainer026 {
	-ms-transform:translate(152.137px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(152.137px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:215.17px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(152.137px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(152.137px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:343.93px;
	z-index:0;
}
#_idContainer027 {
	display:inline-block;
	height:215px;
	position:relative;
	width:496px;
}
#_idContainer028 {
	-ms-transform:translate(246.391px,275.905px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(246.391px,275.905px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:46.09px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(246.391px,275.905px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(246.391px,275.905px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:97.44px;
	z-index:1;
}
#_idContainer029 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:225.66px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:360.84px;
	z-index:0;
}
#_idContainer030 {
	display:inline-block;
	height:322px;
	position:relative;
	width:361px;
}
#_idContainer031 {
	-ms-transform:translate(0.000px,238.787px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,238.787px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:56.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,238.787px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,238.787px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:109.52px;
	z-index:1;
}
#_idContainer032 {
	-ms-transform:translate(165.826px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(165.826px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:206.08px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(165.826px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(165.826px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:329.70px;
	z-index:0;
}
#_idContainer033 {
	display:inline-block;
	height:295px;
	position:relative;
	width:496px;
}
#_idContainer034 {
	-ms-transform:translate(356.011px,215.732px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(356.011px,215.732px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:61.43px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(356.011px,215.732px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(356.011px,215.732px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:103.46px;
	z-index:1;
}
#_idContainer035 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:196.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:470.46px;
	z-index:0;
}
#_idContainer036 {
	display:inline-block;
	height:277px;
	position:relative;
	width:470px;
}
img._idGenObjectAttribute-1 {
	-ms-transform:translate(0.000%,0.000%) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000%,0.000%) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:100.00%;
	min-width:100%;
	transform:translate(0.000%,0.000%) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000%,0.000%) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
hr.HorizontalRule-1 {
	border-bottom:none;
	border-left:none;
	border-right:none;
	border-top:solid #000000 1px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
